<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="EventHubConnectionString" value="Endpoint=sb://garmin.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=NqLHCXO/N3MfWufwGwQLOr6Tcqxqh0rUXG3eIJf0xG4="/>
    <add key="EventHubName" value="watchdata"/>
    <add key="BlockStorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=garminsa;AccountKey=p9ru5TWAiNKDMbhVoC0VyXHkCRYNFM2DrOA1DP3aJ2iGPdoFcWvGj0t4HNsxdiSTG0xOk0RHxxACUUY2U5prvw==;EndpointSuffix=core.windows.net"/>
    <add key="BlobContainerName" value="watchdata"/>
  </appSettings>
</configuration>