<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="EventHubConnectionString" value="Endpoint=sb://garmin.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=NqLHCXO/N3MfWufwGwQLOr6Tcqxqh0rUXG3eIJf0xG4="/>
    <add key="EventHubName" value="watchdata"/>
  </appSettings>
</configuration>